<div class="page-header">
	<h1>Organise your flats here..</h1>
</div>
<form class="form-horizontal" role="form" name="addFlatForm"
	ng-submit="saveNewFlat()" novalidate>
	<div class="col-md-6">
		<div class="form-group">
			<label for="address" class="col-md-2 control-label">Address </label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="address"
					placeholder="Enter address" ng-model="flat.address" required>
			</div>
		</div>
		<div class="form-group">
			<label for="district" class="col-md-2 control-label">District
			</label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="district"
					placeholder="Enter district" ng-model="flat.district" required>
			</div>
		</div>
		<div class="form-group">
			<label for="city" class="col-md-2 control-label">City </label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="city" placeholder="City"
					ng-model="flat.city" required>
			</div>
		</div>
		<div class="form-group">
			<label for="area" class="col-md-2 control-label">Area </label>
			<div class="col-md-10">
				<input type="number" min="0" max="5000" class="form-control"
					id="area" placeholder=" Enter area" ng-model="flat.area" required>
			</div>
		</div>
		<div class="form-group">
			<label for="numRooms" class="col-md-2 control-label">Number
				of rooms </label>
			<div class="col-md-10">
				<select ng-model="flat.numRooms"
					data-placeholder="-- Select room number --" ui-select2 ng-required="true">
					<option value=""></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="heating" class="col-md-2 control-label">Heating </label>
			<div class="col-md-10">
				<select ng-model="flat.heating"
					data-placeholder="-- Select heating type --" ui-select2 ng-required="true">
					<option value=""></option>
					<option value="forced_air">Forced Air</option>
					<option value="radiant_heat">Radiant Heat</option>
					<option value="hydronic">Hydronic</option>
					<option value="steam_radiant">Steam Radiant</option>
					<option value="geothermal">Geothermal</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default"
					ng-disabled="!addFlatForm.$valid">Done</button>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<table class="table table-condensed table-striped table-bordered"
			ng-show="flats.length">
			<tr>
				<th ng-hide="true">Member ID</th>
				<th>Address</th>
				<th>District</th>
				<th>City</th>
				<th>Area</th>
				<th>Number of rooms</th>
				<th>Heating type</th>
				<th>Add images</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="f in flats">
				<td ng-hide="true">Id</td>
				<td>{{f.address}}</td>
				<td>{{f.district}}</td>
				<td>{{f.city}}</td>
				<td>{{f.area}}</td>
				<td>{{f.numRooms}}</td>
				<td>{{f.heating}}</td>
				<td><button type="button" class="btn btn-default btn-xs"
						ng-click="showUpload(f.id)">Add images</button></td>
				<td><button type="button" class="btn btn-default btn-xs"
						ng-click="getFlat(f.id)">Edit</button></td>
				<td><button type="button" class="btn btn-danger btn-xs"
						ng-click="deleteFlat(f.id)">Delete</button></td>
			</tr>
		</table>
	</div>
</form>
