<div class="page-header">
	<h1><i class="glyphicon glyphicon-th-list blue"></i> Listings</h1>
</div>
<div class="centerNas">
	<div class="list-group" ng-repeat="l in listings" ng-hide="checkDate(l.dateTo)">
		<div class="list-group-item">
			<h2 class="list-group-item-heading">
				<span class="glyphicon glyphicon-chevron-right blue"></span> {{l.title}}
			</h2>
			<p class="list-group-item-text pNas">
			<h4 class="pNas">
				<label> Address: </label> {{l.flat.address}}
			</h4>
			</p>
			<p class="list-group-item-text">
			<h4 class="pNas">
				<label> District: </label> {{l.flat.district}}, {{l.flat.city}}
			</h4>
			</p>
			<p class="list-group-item-text">
			<h4 class="pNas">
				<label> Price: </label> {{l.price}} euro
			</h4>
			</p>
			<div align="right" class="rightNas">
				<button ng-click="showListingForm(l)" class="btn btn-info">More
					details</button>
			</div>


		</div>
	</div>

</div>