<div class="page-header">
	<h1><i class="glyphicon glyphicon-folder-open blue"></i>&nbsp; Bookmarks</h1>
</div>
<div class="centerNas">
	<div class="list-group" ng-repeat="l in likedListings">
		<div class="list-group-item">
			<h2 class="list-group-item-heading">
				<span class="glyphicon glyphicon-chevron-right blue"></span>
				{{l.listing.title}}
			</h2>
			<p class="list-group-item-text pNas">
			<h4 class="pNas">
				<label> Address: </label> {{l.listing.flat.address}}
			</h4>
			</p>
			<p class="list-group-item-text">
			<h4 class="pNas">
				<label> District: </label> {{l.listing.flat.district}},
				{{l.listing.flat.city}}
			</h4>
			</p>
			<p class="list-group-item-text">
			<h4 class="pNas">
				<label> Price: </label> {{l.listing.price}} euro
			</h4>
			</p>
		</div>
	</div>

</div>