<div class="page-header">
	<h1>{{listing.title}}</h1>
	<p>{{listing.date}}</p>
</div>
<div class="col-md-8">
	<div>By {{listing.member.memberProfile.name}}</div>
	<carousel interval="5000"> <slide
		data-ng-repeat="image in images" active="image.active"> <img
		data-ng-src="{{image.Path}}" style="margin: auto;"> </slide> </carousel>
	<div>Address: {{listing.flat.address}},
		{{listing.flat.district}}, {{listing.flat.city}}</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">Area: {{listing.flat.area}}</div>
		<div class="col-xs-6 col-md-4">Number of rooms:
			{{listing.flat.numRooms}}</div>
		<div class="col-xs-6 col-md-4">Heating: {{listing.flat.heating}}</div>
	</div>
	<div>
		Aditional info:
		<p>{{listing.information}}</p>
	</div>
	<div>
		<h3>Price: {{listing.price}}</h3>
	</div>
</div>
