<div class="page-header">
	<h1><i class="glyphicon glyphicon-user blue"></i> Member profile</h1>
</div>
<div class="row">
	<div class="col-md-8">
		<form class="form-horizontal" role="form" name="memberForm"
			ng-submit="saveNewMemberProfile()" novalidate>
			
			
			<div class=" form-group">
				<label class="col-md-2 control-label">My name is</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="name"
						placeholder="Enter your name"
						ng-model="memberProfile.name" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">I am a </label>
				<div class="btn-group col-md-10" ng-model="memberProfile.sex"
					bs-radio-group>
					<label class="btn btn-default"><input type="radio"
						class="btn btn-default" value="true">Male</label> <label
						class="btn btn-default"><input type="radio"
						class="btn btn-default" value="false">Female</label>
				</div>
			</div>
			<div class=" form-group">
				<label class="col-md-2 control-label">My occupation is </label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="occupation"
						placeholder="Enter your occupation"
						ng-model="memberProfile.occupation" required>
				</div>
			</div>
			<div class="form-group">
				<label for="dateOfBirth" class="col-md-2 control-label">My
					birthdate is on </label>
				<div class="col-md-10">
					<input type="date" class="form-control" id="dateOfBirth"
						placeholder="Enter date" ng-model="memberProfile.dateOfBirth" required>
				</div>
			</div>
			<div class="form-group">
				<label for="moveDate" class="col-md-2 control-label">I want
					to move in on </label>
				<div class="col-md-10">
					<input type="date" class="form-control" id="moveDate"
						placeholder="Enter date" ng-model="memberProfile.moveDate" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">I am a </label>
				<div class="col-md-10">
					<select class="form-control" ui-select2
						ng-model="memberProfile.smoker">
						<option value="false">Non-smoker</option>
						<option value="true">Smoker</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">I have </label>
				<div class="col-md-10">
					<select class="form-control" ui-select2
						ng-model="memberProfile.pets" ng-required="true">
						<option value="false">No-pets</option>
						<option value="true">Pets</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Any more details ... </label>
				<div class="col-md-10">
					<textarea class="form-control " rows="3"
						placeholder="Enter more details about yourself"
						ng-model="memberProfile.details"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info" ng-disabled="!memberForm.$valid">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>