<div class="page-header">
	<h1>My Flats</h1>
</div>
<form class="form-horizontal" role="form">
<div class="col-md-6" >
  <table class="table table-condensed table-striped table-bordered">
  <tr>
  	<th ng-hide="true">Member ID</th>
  	<th>Address</th>
  	<th>District</th>
  	<th>City</th>
  	<th>Area</th>
  	<th>Number of rooms</th>
  	<th>Heating type</th>
  	<th></th>
  	<th></th>
  </tr>
  <tr ng-repeat="flat in flats" ng-show="flat.member.id == user.id">
	  <td ng-hide="true">{{flat.member.id}}</td>
	  <td>{{flat.address}}</td>
	  <td>{{flat.district}}</td>
	  <td>{{flat.city}}</td>
	  <td>{{flat.area}}</td>
	  <td>{{flat.numRooms}}</td>
	  <td>{{flat.heating}}</td>
	  <td><button type="button" class="btn btn-default btn-xs" ng-click="getType(flat.id)">Edit</button></td>
	  <td><button type="button" class="btn btn-danger btn-xs" ng-click="deleteType(flat.id)">Delete</button></td>
  </tr>
  </table>
  </div>
</form> 