<div class="page-header">
	<h1>My Flats</h1>
</div>
<form class="form-horizontal" role="form">
<div class="col-md-6" >
  <table class="table table-condensed table-striped table-bordered">
  <tr>
  	<th>Address</th>
  	<th>District</th>
  	<th>City</th>
  	<th>Area</th>
  	<th>Number of rooms</th>
  	<th>Heating type</th>
  </tr>
  <tr ng-repeat="flat in flats">
	  <td>{{flat.address}}</td>
	  <td>{{flat.district}}</td>
	  <td>{{flat.city}}</td>
	  <td>{{flat.area}}</td>
	  <td>{{flat.numRooms}}</td>
	  <td>{{flat.heating}}</td>
  </tr>
  </table>
  </div>
</form> 