<div class="modal-header">
	<button type="button" class="close" ng-click="$hide()">&times;</button>
	<h4 class="modal-title">Add flat to list</h4>
</div>
<form name="flatListing" role="form" novalidate
	class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
	ng-submit="saveNewListing()">
	<div class="modal-body">
		<div class="form-group">
			<label for="title" class="control-label">Title </label> <input
				type="text" class="form-control" id="title"
				placeholder="Enter title" ng-model="listing.title" required>
		</div>
		<div class="form-group">
			<label for="price" class="control-label">Price </label> <input
				type="number" min="0" class="form-control" id="price"
				placeholder=" Enter price" ng-model="listing.price" required>
		</div>
		<div class="form-group">
			<label for="dateFrom" class="control-label">Active from</label> <input
				type="date" class="form-control" id="dateFrom"
				placeholder="Enter date" ng-model="listing.dateFrom" required>
		</div>
		<div class="form-group">
			<label for="dateTo" class="control-label">Active to</label> <input
				type="date" class="form-control" id="dateTo"
				placeholder="Enter date" ng-model="listing.dateTo" required>
		</div>
		<div class="form-group">
			<label for="information" class="control-label">Information </label> <input
				type="text" class="form-control" id="information"
				placeholder="Enter more information" ng-model="listing.information">
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="$hide()">
			<i class="fa fa-fw fa-times"></i> Cancel
		</button>
		<button type="submit" ng-disabled="flatListing.$invalid"
			class="btn btn-primary">
			<i class="fa fa-fw fa-save"></i> Save
		</button>
	</div>
</form>