<div class="modal-header">
	<button type="button" class="close" ng-click="$hide()">&times;</button>
	<h4 class="modal-title">Upload images</h4>
</div>
<div class="modal-body">
		<carousel interval="5000"> <slide
			ng-repeat="image in images" active="image.active"> 
			<img ng-src="{{ basePath }}/flatImage/download/{{image.id}}"
			alt="flat image" class="img-thumbnail"> </slide> </carousel>
	<div class="form-group">
		<label for="image">File input {{basePath}}</label> <input type="file"
			ng-file-select="onFileSelect($files)">
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" ng-click="$hide()">
		<i class="fa fa-fw fa-times"></i> Cancel
	</button>
</div>